<p>Add a new client:</p>

<form action="/clients" method="post">
    <label for="name">Client name</label>
    <input id="name" name="name" type="text">

    <button type="submit" class="btn btn-outline-success">Add client</button>
</form>